Repository Kenfack-franck/jobHunterAi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend, deploy_full

build_frontend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd frontend
  ...

build_backend:
  stage: build
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - cd backend
  - docker build -f Dockerfile.prod -t $CI_REGISTRY_IMAGE/backend:latest .
  - docker push $CI_REGISTRY_IMAGE/backend:latest

deploy_frontend:
  stage: deploy
  image: alpine:latest
  needs:
  - build_frontend
  before_script:
  - apk add --no-cache openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
  script:
  ...

deploy_backend:
  stage: deploy
  image: alpine:latest
  needs:
  - build_backend
  before_script:
  - apk add --no-cache openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
  script:
  ...

deploy_full:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
  script:
  ...

feat: add CV parsing with AI (backend + frontend component)
  backend/app/api/profile.py
  backend/app/schemas/profile.py
  backend/app/services/cv_parser_service.py
  backend/celerybeat-schedule
  backend/requirements.txt
  frontend/src/components/profile/CVUpload.tsx
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

docs: add CV parser integration guide + CI/CD optimization doc
  CV_PARSER_INTEGRATION.md
Due: none

feat: Convert contact page to modal accessible from footer
  frontend/src/app/profile/create/page.tsx
  frontend/src/components/contact/ContactModal.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/profile/ProfileForm.tsx
Due: build_frontend, deploy_frontend

feat: Support URL mode parameter in profile creation from onboarding + Add SMTP to celery
  docker-compose.prod.yml
  frontend/src/app/profile/create/page.tsx
Due: build_frontend, deploy_frontend, deploy_full

docs: Sprint 10 complete summary
  SPRINT10_COMPLETE.md
Due: none

feat: Add job details modal + integrate contact modal in landing page
  frontend/src/app/jobs/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/jobs/JobDetailsModal.tsx
Due: build_frontend, deploy_frontend

docs: Add comprehensive test guide for new modal features
  TEST_MODAL_FEATURES.md
Due: none

docs: Update sprint summary with job details modal
  SPRINT10_COMPLETE.md
Due: none

fix: CV parser BytesIO bug + onboarding wizard logic for new users
  backend/app/services/cv_parser_service.py
  backend/celerybeat-schedule
  frontend/src/app/dashboard/page.tsx
  test_cv_parser.sh
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

docs: Add bugfix documentation for CV parser and onboarding
  BUGFIX_CV_PARSER_ONBOARDING.md
Due: none

fix: Add missing json import and generate_text method to AIService for CV parser
  CV_kenfack_franck.pdf
  backend/app/services/ai_service.py
  backend/app/services/cv_parser_service.py
  test_cv_upload.sh
Due: build_backend, deploy_backend

fix: Include CV parsed data (experiences, educations, skills) when creating profile
  frontend/src/components/profile/ProfileForm.tsx
Due: build_frontend, deploy_frontend

docs: Add documentation for CV parser profile save fix
  FIX_CV_PARSER_PROFILE_SAVE.md
Due: none

feat: Add comprehensive CV review page with editable experiences, educations, and skills
  backend/celerybeat-schedule
  frontend/src/app/profile/create/page.tsx
  frontend/src/components/profile/CVReview.tsx
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

docs: Add comprehensive documentation for CV review page feature
  FEATURE_CV_REVIEW_PAGE.md
Due: none

fix: Save CV parsed relations (experiences, educations, skills) when creating profile
  backend/app/schemas/profile.py
  backend/app/services/profile_service.py
  test_profile_creation.sh
  test_profile_creation2.sh
Due: build_backend, deploy_backend

docs: Add comprehensive documentation for profile relations save fix
  FIX_PROFILE_RELATIONS_SAVE.md
Due: none

fix: Add date string parsing to Experience and Education schemas
  backend/app/api/profile.py
  backend/app/main.py
  backend/app/schemas/profile.py
  test_profile_422.sh
Due: build_backend, deploy_backend

fix: Normalize skill categories and levels to English + add French mapping
  backend/app/schemas/profile.py
  backend/app/services/cv_parser_service.py
Due: build_backend, deploy_backend

fix: Validation error handler and complete test workflow
  backend/app/main.py
  test_cv_upload.sh
Due: build_backend, deploy_backend

fix: Unwrap profile_data from CV parser response in frontend
  frontend/src/app/profile/create/page.tsx
Due: build_frontend, deploy_frontend

fix: Handle null company/institution + fix CVReview category filtering
  backend/app/schemas/profile.py
  frontend/src/components/profile/CVReview.tsx
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

fix: Replace invalid Button variant 'secondary' with 'outline' in help page
  DEPLOY_SESSION_2026-02-03.md
  deploy_v2026-02-03.sh
  frontend/src/app/help/page.tsx
Due: build_frontend, deploy_frontend

feat: Add data attribute to FeedbackButton for programmatic access
  frontend/src/components/feedback/FeedbackButton.tsx
Due: build_frontend, deploy_frontend

fix: Remove non-existent JobOffer fields causing TypeScript build errors
  frontend/src/app/jobs/[id]/page.tsx
  frontend/src/components/jobs/JobDetailsModal.tsx
  frontend/src/types/index.ts
Due: build_frontend, deploy_frontend

fix: Copy alembic.ini and alembic/ folder to Docker image for migrations
  backend/Dockerfile.prod
Due: build_backend, deploy_backend

fix: Replace hardcoded localhost with NEXT_PUBLIC_API_URL in sources page
  frontend/src/app/settings/sources/page.tsx
Due: build_frontend, deploy_frontend

feat: Ultra-modern landing page redesign with professional design
  frontend/src/app/page.tsx
Due: build_frontend, deploy_frontend

feat: Modern dashboard homepage redesign
  frontend/src/app/dashboard/page.tsx
Due: build_frontend, deploy_frontend

feat: Complete app-wide design modernization
  MODERNISATION_MODALS_COMPLETE.md
  MODERNISATION_PAGES_COMPLETE.md
  frontend/public/hero.jpg
  frontend/src/app/applications/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/help/page.tsx
  frontend/src/app/jobs/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/contact/ContactModal.tsx
  frontend/src/components/feedback/FeedbackButton.tsx
  frontend/src/components/jobs/AnalysisModal.tsx
  frontend/src/components/jobs/JobDetailsModal.tsx
  frontend/tsconfig.tsbuildinfo
Due: build_frontend, deploy_frontend

Fix: download
  frontend/public/hero.jpg
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.tsbuildinfo
  test_auth_flow.md
Due: build_frontend, deploy_frontend

Fix: download
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/register/page.tsx
Due: build_frontend, deploy_frontend

chore: Add documentation files to .gitignore
  .gitignore
Due: none

feat(db): Add user roles and limits tracking system
  backend/alembic/versions/2026_02_04_0100-add_user_role.py
  backend/alembic/versions/2026_02_04_0105-create_user_limits.py
  backend/scripts/set_admin_role.sql
Due: build_backend, deploy_backend

feat(models): Add User role and UserLimits models
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/models/user_limits.py
Due: build_backend, deploy_backend

feat(backend): Add LimitService and admin middleware
  backend/app/api/dependencies/__init__.py
  backend/app/api/dependencies/admin.py
  backend/app/services/limit_service.py
Due: build_backend, deploy_backend

feat(backend): Add admin routes and email service
  backend/app/api/routes/admin.py
  backend/app/main.py
  backend/app/schemas/admin.py
  backend/app/services/email_service.py
Due: build_backend, deploy_backend

feat(backend): Integrate limit checks in critical routes
  backend/app/api/job_offer.py
  backend/app/api/profile.py
  backend/app/api/routes/search.py
Due: build_backend, deploy_backend

feat(frontend): Add admin panel with dashboard and user management
  frontend/src/app/admin/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/lib/adminService.ts
Due: build_frontend, deploy_frontend

Path conditions:
  build_frontend: any of: frontend/**/*, .gitlab-ci.yml
  build_backend: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*
  deploy_backend: any of: backend/**/*
  deploy_full: any of: docker-compose.prod.yml, .gitlab-ci.yml
