Repository Kenfack-franck/jobHunterAi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend, deploy_full

Path conditions:
  build_frontend: any of: frontend/**/*, .gitlab-ci.yml
  build_backend: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*
  deploy_backend: any of: backend/**/*
  deploy_full: any of: docker-compose.prod.yml, .gitlab-ci.yml

fix(frontend): Correct API URLs in adminService
  frontend/src/lib/adminService.ts
Due: build_frontend, deploy_frontend

fix(auth): Include user role in JWT token payload
  backend/app/services/auth_service.py
Due: build_backend, deploy_backend

fix(admin): Convert admin routes to async and fix JWT
  backend/app/api/routes/admin.py
Due: build_backend, deploy_backend

fix(frontend): Use consistent localStorage key 'auth_token'
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/lib/adminService.ts
Due: build_frontend, deploy_frontend

fix(admin): Convert list_users route to async with simplified usage stats
  backend/app/api/routes/admin.py
Due: build_backend, deploy_backend

feat(admin): Fixed usage limits - Admin unlimited, removed limit editing
  backend/app/api/routes/admin.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/services/limit_service.py
  frontend/src/app/admin/users/page.tsx
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

fix(frontend): Remove unused limits modal code
  frontend/src/app/admin/users/page.tsx
Due: build_frontend, deploy_frontend

fix(limits): Convert LimitService to async with admin bypass
  backend/app/services/limit_service.py
Due: build_backend, deploy_backend

fix(admin): Enable role/status filters and fix delete user
  backend/app/api/routes/admin.py
Due: build_backend, deploy_backend

feat(auth): Add blocked user message on login
  backend/app/api/auth.py
  backend/app/services/auth_service.py
Due: build_backend, deploy_backend

fix(auth): Improve login error messages display
  backend/app/api/auth.py
  frontend/src/app/auth/login/page.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

Fix: download
  SESSION_2026-02-04_ADMIN_LIMITS.md
  backend/celerybeat-schedule
  recuperation_texte.txt
Due: build_backend, deploy_backend

feat(admin): Add production admin setup script and documentation
  ADMIN_SETUP_PRODUCTION.md
  backend/scripts/create_admin.py
Due: build_backend, deploy_backend

Fix: download
  backend/celerybeat-schedule
Due: build_backend, deploy_backend

admin
  PLAN_ADMIN_PANEL.md
  PLAN_ADMIN_PANEL_IMPLEMENTATION.md
  TEST_ADMIN_UI.md
  TEST_BLOCKED_USER.md
  TEST_LOGIN_ERRORS.md
  test_admin_login.sh
Due: none

chore: update .gitignore to exclude all docs except README
  .gitignore
  ANALYSE_COMPLETE_PAGES_IMPACT.md
  CORRECTIONS_APPLIQUEES.md
  CV_kenfack_franck.pdf
  EXPLICATION_DETAILLEE_SCRAPING.md
  EXPLICATION_JSEARCH_MAPPING.md
  EXPLICATION_RECHERCHE.md
  INSTRUCTIONS_TEST_FINAL.txt
  MODERNISATION_MODALS_COMPLETE.md
  MODERNISATION_PAGES_COMPLETE.md
  RAPPORT_TESTS_SOURCES_COMPLETE.md
  REFONTE_FORMULAIRE_RECHERCHE.md
  RESUME_INTEGRATION_API.md
  TEST_ADMIN_UI.md
  TEST_BLOCKED_USER.md
  TEST_COMPLET_UTILISATEUR.md
  TEST_FORMULAIRES_FIX.md
  TEST_INSTRUCTIONS.md
  TEST_LOGIN_ERRORS.md
  TEST_MODAL_FEATURES.md
  TEST_NOUVELLES_SOURCES.md
  TEST_SCENARIO.md
  TEST_USER_CREDENTIALS.md
  backend/celerybeat-schedule
Due: build_backend, deploy_backend

fix: improve onboarding modal responsiveness and update content
  frontend/src/components/onboarding/OnboardingWizard.tsx
Due: build_frontend, deploy_frontend

chore: remove all documentation .md files except README.md
  ADMIN_SETUP_PRODUCTION.md
  ADZUNA_SOLUTION_COMPLETE.md
  BUGFIX_CV_PARSER_ONBOARDING.md
  BUGFIX_FRONTEND_MULTI_SOURCES.md
  CELERY_README.md
Due: none

chore: remove test scripts and temporary files, keep essential files
  RESUME_CHECKPOINT.txt
  commit_checkpoint.sh
  create_test_profile.sh
  deploy_manual.sh
  deploy_v2026-02-03.sh
  diagnose_smtp.sh
  frontend/public/ajout.txt
  recuperation_texte.txt
  setup.sh
  test_admin_login.sh
  test_cv_parser.sh
  test_cv_upload.sh
  test_integration.sh
  test_profile_422.sh
  test_profile_creation.sh
  test_profile_creation2.sh
  test_safran_watch.sh
Due: build_frontend, deploy_frontend

chore: remove test scripts and temporary files, keep essential files
  test_sources_availability.py
Due: none

docs: Add comprehensive README for GitHub Copilot CLI Challenge 2026
  .env.example
  LICENSE
  README.md
  docs/screenshots/.gitkeep
Due: none

Add Copilot CLI evidence and development statistics
  copilot-evidence/README.md
Due: none

Add copilot evidence docs
  .gitignore
  copilot-evidence/GIT_IMPACT.md
  copilot-evidence/INDEX.md
  copilot-evidence/STATISTICS.md
Due: none

Add copilot evidence exports (sanitized set)
  .gitignore
  copilot-evidence/exports/conversation_57c88cae-51c6-4acf-aaba-1f4a7408edce_checkpoints.md
Due: none

docs: Update README with measured statistics from Copilot CLI logs
  README.md
Due: none

readme and image
  README.md
  README.md.old
  RESUME_CHECKPOINT.txt
  docs/screenshots/Capture d’écran du 2026-02-04 17-24-38.png
  docs/screenshots/Capture d’écran du 2026-02-04 17-25-39.png
  docs/screenshots/Capture d’écran du 2026-02-04 17-27-22.png
  docs/screenshots/Image collée.png
  docs/screenshots/compatibility.png
  docs/screenshots/document-generation.png
  docs/screenshots/document-generation1.png
  docs/screenshots/homepage.png
  docs/screenshots/job-search.png
  docs/screenshots/mobile.png
  docs/screenshots/profile.png
  frontend/public/ajout.txt
  recuperation_texte.txt
  test_sources_availability.py
Due: build_frontend, deploy_frontend

readme and image
  .gitignore
  README.md.old
  RESUME_CHECKPOINT.txt
Due: none

final arrangement
  docs/screenshots/profile1.png
  frontend/src/app/dashboard/page.tsx
Due: build_frontend, deploy_frontend

fix: Add Admin Panel to mobile navigation menu
  frontend/src/components/layout/Navbar.tsx
Due: build_frontend, deploy_frontend

final arrangement
  frontend/src/app/page.tsx
Due: build_frontend, deploy_frontend
